 ;

.conteiner-objective-elected {
  padding: 12px 20px 12px 16px;
  background: rgb(203, 231, 206);
  border: 1px solid #82D68E;
  border-radius: 8px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.16);

  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  .content-objetive {
    gap: 12px;

    .objective-icon-elected {
      height: 20px;
      width: 20px;
      user-select: none;
    }

    .objective-text-elected {
      color:  #1C1C1C;
      font-weight: 500;
      user-select: none;
    }
  }

  .objective-container {
    .input-class {
      border-radius: 8px;
    }
  }
}

.conteiner-objective-not-elected {
  padding: 12px 20px 12px 16px;
  background: #E9E6DB;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  .content-objetive {
    gap: 12px;

    .objective-icon-not-elected {
      height: 20px;
      width: 20px;
      user-select: none;
    }

    .objective-text-not-elected {
      color: #9A9A9A;
      user-select: none;
    }
  }

  .objective-container {
    .input-class {
      border-radius: 8px;
    }
  }
}