<input-text-with-icon
  iconPath="assets/svg/icons-create-acc/weight.svg"
  label="Peso"
  type="text"
  (click)="openModal()"
  [ngModel]="value"
  [readonly]="true"
></input-text-with-icon>

<ion-modal #modal (didDismiss)="onDidDismiss()" class="modal-container">
  <ng-template>
    <div class="back-toolbar">
      <ion-icon name="close-outline" class="icon-back" (click)="closeModal('cancel')"></ion-icon>
      <ion-text class="text-modal">Tu peso</ion-text>
      <button class="button-next" (click)="closeModal('confirm')">Siguiente</button>
    </div>

    <ion-picker class="picker">
      <ion-picker-column [value]="selectedPeso" (ionChange)="onPesoChange($event)">
        <ion-picker-column-option *ngFor="let n of pesoNumeros" [value]="n">
          {{ n }}
        </ion-picker-column-option>
      </ion-picker-column>

      <ion-picker-column [value]="selectedUnidad" (ionChange)="onUnidadChange($event)">
        <ion-picker-column-option *ngFor="let unidad of unidades" [value]="unidad">
          {{ unidad }}
        </ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>