<ion-input readonly [value]="currentValue" [placeholder]="placeholder" (click)="openModal()"></ion-input>


<ion-modal #modal (didDismiss)="onDidDismiss($event)">
  <ng-template>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="custom-text-p" (click)="closeModal('cancel')">x</ion-button>
      </ion-buttons>

      <div class="toolbar-center">
        Peso
      </div>

      <ion-buttons slot="end">
        <ion-button class="custom-button-p" (click)="closeModal('confirm')">Siguiente</ion-button>
      </ion-buttons>
    </ion-toolbar>


    <ion-picker>

      <ion-picker-column [value]="selectedPeso" (ionChange)="onPesoChange($event)">
        <ion-picker-column-option *ngFor="let n of pesoNumeros" [value]="n">
          {{ n }}
        </ion-picker-column-option>
      </ion-picker-column>

      <ion-picker-column [value]="selectedUnidad" (ionChange)="onUnidadChange($event)">
        <ion-picker-column-option *ngFor="let unidad of unidades" [value]="unidad">
          {{ unidad }}
        </ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>