<ion-content class="signup" [fullscreen]="true">

  <div class="signup-container">
    <h2>Crea tu cuenta</h2>
    <p>Sumate creando una cuenta.</p>

    <div class="input-container">
      <!-- Inputs -->
      <ion-item class="input-item" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre" style="color: #757575;"></ion-input>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Email" type="email" [(ngModel)]="email" style="color: #757575;"></ion-input>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" style="color: #757575;"></ion-input>
        <!-- <ion-icon name="eye-outline" slot="end"></ion-icon> -->
      </ion-item>
    </div>

    <!-- Botón principal -->
    <ion-button expand="block" class="main-btn" (click)="onSignup()">
      Empieza tu cambio
    </ion-button>

    <!-- Botón registrate con Google -->
    <ion-button expand="block" fill="clear" class="social-btn google-btn">
      <!-- <ion-icon name="logo-google" slot="start"></ion-icon> -->
      <img src="assets/google-svgrepo-com.svg" slot="start" class="google-icon">
      Registrate con Google
    </ion-button>

    <!-- Link a login -->
    <p class="login-text">
      ¿Ya tenés una cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>
</ion-content>
