.signup {
    --background: #F2EFE5;

    .close-btn {
        position: absolute;
        // margin-top: 20px;
        top: 20px;
        left: 20px;
        font-size: 28px;
        color: #000;
    }

    .signup-container {
        padding: 25px;
        text-align: left;
        max-width: 400px;
        margin: auto;
    }

    h2 {
        margin-top: 90px;
        margin-bottom: -5px;
        font-weight: bold;
        color: #222;
        font-size: 25px;
    }

    p {
        color: #777;
        margin-bottom: 45px;
        font-size: 14px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        /* Estilos para inputs */
        .input-item {
            --background: #fff;
            border-radius: 15px;
            padding: 2px;

                ion-icon {
                    color: #999;
                    height: 22px;
                }

                ion-input {
                    font-size: 14px;
                }    
        }
    }

    /* Botón Registrate Google */
    .social-btn {
        position: relative;
        margin-top: 60px;
        border-radius: 10px;
        font-weight: bold;
        text-transform: none;
        height: 45px;
        font-size: 16px;
        box-shadow: none;
        border: 1px solid #82D68E;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .google-icon {
            position: absolute;
            left: 16px;
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
    }

    /* Colores individuales */
    .google-btn {
        color: #000;
    }


    /* Botón principal */
    .main-btn {
        --background: #82D68E;
        --border-radius: 10px;
        margin-top: 70px;
        height: 48px;
        font-size: 17px;
        font-weight: bold;
        text-transform: none;
        color: #000;
    }

    /* Link inferior */
    .login-text {
        text-align: center;
        font-size: 14px;
        margin-top: 15px;

        a {
            font-weight: bold;
            color: #04460E;
            text-decoration: none;
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }
    }
}