.auth-bg,
ion-content.auth-bg {
  --background: var(--primary-color-yellow);
}

/* Títulos */
.title {
  margin: 4px 0 0;
  font-weight: 700;
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
}
.subtitle {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  //   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  line-height: 24px;
  margin: 4px 0 16px;
}

.title,
.subtitle {
  color: var(--color-black);
  font-family: var(--primary-font);
}

.auth-input {
  --background: #eef0f3;
  --border-radius: 12px;
  --padding-start: 12px;
  --padding-end: 8px;
  margin-bottom: 12px;
  color: grey;
}
.auth-input ion-input::part(native) {
  padding: 12px 0;
}

// /* Separador  */
// .sep { margin: 8px 0 14px; }
// .line { height: 1px; background: rgba(0,0,0,.15); }

.social {
  color: var(--color-black);
  --border-color: var(--primary-color-green);
  --background-hover: rgba(255, 255, 255, 0.1);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}
.social ion-icon {
  font-size: 18px;
}

/* Botón principal   */
.primary {
  --background: var(--primary-color-green);
  color: var(--color-black);
  margin-top: 20px;
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  //   transform: translateY(-60px);
}

.btn-primary {
  --background: var(--primary-color-green);
  --background-hover: #45a049;
  color: var(--color-black);
  font-family: var(--primary-font);
  --border-radius: 12px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.btn-google {
  color: var(--color-black);
  --border-color: var(--primary-color-green);
  --background-hover: rgba(255, 255, 255, 0.1);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.btn-apple {
  color: var(--color-black);
  --border-color: var(--primary-color-green);
  --background-hover: rgba(255, 255, 255, 0.1);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.forgot-link::part(native),
.signup-link::part(native) {
  text-transform: none;
}

.forgot-link {
  font-family: var(--primary-font);
  color: var(--color-black);
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  margin-top: -10px;
}

.signup-text {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 14px;
  //line-height: 5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  //gap: 0.5rem;
  //margin-top: 16px;
}

.signup-link {
  font-family: var(--primary-font);
  color: var(--primary-color-green);
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  //min-height: unset;
  //text-decoration: underline;
  //margin-left: -8px;
}
