 ;

ion-modal {
  --height: auto;
  align-items: end;
}

.modal-container {
  --background: #FFFFFF;

  .back-toolbar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 12px 8px;

    .icon-back {
      font-size: 16px;
      color:  #1C1C1C;
      cursor: pointer;
    }

    .text-modal {
      font-weight: 600;
      font-size: 16px;
      color:  #1C1C1C;
      text-align: center;
    }

    .button-next {
      color: #82D68E;
      font-size: 14px;
      font-weight: 600;
      background: none;
      border: none;
      text-align: center;
      cursor: pointer;
    }
  }
}