@import "/src/global.scss";

.forgot {
  --background: #f2efe5;

  .forgot-container {
    padding: 25px;
    text-align: center;
    margin-top: 60px;
    position: relative;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    color: #777;
    margin-bottom: 25px;
  }

  .input-item {
    margin-bottom: 15px;
    --background: #fff;
    border-radius: 12px;
  }

  ion-button {
    --border-radius: 10px;
    font-weight: bold;
  }

  .back-login {
    margin-top: 30px;

    a {
      color: #04460E;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
