<ion-content class="forgot">
  <div class="forgot-container">

    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Ingresá tu correo y te enviaremos un enlace para restablecerla.</p>

    <ion-item class="input-item" lines="none">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" placeholder="Correo electrónico" type="email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="resetPassword()" color="success">
      Enviar enlace
    </ion-button>

    <p class="back-login">
      <a routerLink="/login">Volver al inicio de sesión</a>
    </p>
  </div>
</ion-content>

