<div class="forgot-content">
  <ion-text class="forgot-password">¿Olvidaste la contraseña?</ion-text>
  <ion-text class="forgot-desc">Ingresá tu correo y te enviaremos un enlace para restablecerla.</ion-text>

  <input-text-with-icon iconPath="assets/svg/icon-auth/email.svg" label="Email" type="email"
    [(ngModel)]="input.email"></input-text-with-icon>
  <primary-button [propEnum]="ButtonText.sendLink" (click)="resetPassword()"></primary-button>
  <ion-text class="login-button" (click)="goToLogin()">
    Volver al inicio de sesión
  </ion-text>
</div>