@import '/src/global.scss';

.input-item {
  --background: #{$backgroud-input};
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --min-height: 44px;
  --highlight-height: 0;
  --border-radius: 8px;

  display: flex;
  align-items: center;
  padding: 12px 16px 12px 20px;
  background-color: $backgroud-input;
  border-radius: 8px;
  max-height: 44px;
  box-shadow: none;
  border: none;

  .conteiner {
    gap: 8px;
    width: 100%;

    ion-icon {
      width: 20px;
      height: 20px;
      color: $text-input;
    }

    ion-input {
      flex: 1;
      --background: transparent;
      --padding-start: 0;
      --padding-end: 0;
      --color: #{$text-input};
      font-size: 16px;
      border: none;
      outline: none;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        color: $text-input;
        padding: 0;
      }
    }
  }

  .icon-toggle {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}