<ion-content [fullscreen]="true">
  <div class="welcome">
    <div class="welcome_content-container">
      <div class="welcome_content-filtered"></div>
      <div class="welcome_content">
        <div class="welcome_header">
          <h2 class="welcome_text">Tu Camino al Bienestar Completo</h2>
          <ion-text class="welcome_subtitle">Entrenamiento físico, nutrición y salud mental en una sola aplicación.</ion-text>
        </div>
        <primary-button [propEnum]="ButtonText.startApp"></primary-button>
        <ion-text class="welcome_login">¿Ya tenés una cuenta? <span class="welcome_login-link">Iniciar sesión</span></ion-text>
      </div>
    </div>
  </div>
</ion-content>