<ion-content [fullscreen]="true" class="welcome-conteiner">
  <div class="imgs-container">
    <div class="mosaic">
      <img src="assets/imgs/ft-1.jpg" class="imgs" />
      <img src="assets/imgs/ft-2.jpg" class="imgs" />
      <img src="assets/imgs/ft-3.jpg" class="imgs" />
      <img src="assets/imgs/ft-4.jpg" class="imgs" />
      <img src="assets/imgs/ft-5.jpg" class="imgs" />
      <img src="assets/imgs/ft-6.jpg" class="imgs" />
      <img src="assets/imgs/ft-7.jpg" class="imgs" />
      <img src="assets/logo/logo.png" class="img-logo" />
      <img src="assets/imgs/ft-8.jpg" class="imgs" />
    </div>
  </div>

  <div class="welcome-content ion-display-flex ion-flex-column"> <!-- Degradado va ACA -->
    <div class="welcome ion-display-flex ion-flex-column">
      <ion-text class="welcome-text">Bienvenido a NutriFit</ion-text>
      <ion-text class="app-text">La aplicación integral para transformar tu cuerpo y mente.</ion-text>
    </div>
    
    <div class="buttons-conteiner ion-display-flex ion-flex-column">
      <primary-button 
        [propEnum]="ButtonText.logInEmail"
      ></primary-button>
  
      <secondary-button-with-icon 
        iconPath="assets/svg/icons/google.svg"
        label="Iniciar sesión con Google"
      ></secondary-button-with-icon>
    </div>

    <ion-text class="dont-have-acc">
      ¿No tenés cuenta? <span class="register-button">Regístrate aquí</span>
    </ion-text>
  </div>
</ion-content>