@import "/src/global.scss";

.chart-card {
  background: #f7f7f7;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  
  height: 250px; 
  position: relative; 
}