<ion-content [fullscreen]="true">
  <div class="header">
    <ion-text class="title-header">{{ getTodayDate() }}</ion-text>

    <div class="spacer">
      <ion-text
        *ngIf="user" class="username-header"
        class="username-header"
      >
         {{ greeting }}, {{ user.displayName ?? 'Usuario' }}
      </ion-text>
    </div>
  </div>

  <div class="chart-card">
    <div class="card-header ion-display-flex ion-justify-content-between ion-align-items-center">
      <h3 class="calories-text">🔥 Calorías</h3>
      <h3 class="start-count" (click)="startActivity()">Empezar a contar</h3>
    </div>
    <canvas class="caloriesChart" #caloriesCanvas></canvas>
  </div>

  <div class="routines-section">
    <div class="section-header">
      <ion-text class="section-title">Tus rutinas</ion-text>
      <ion-text class="see-all">Ver todo</ion-text>
    </div>
    <div class="routines-list">
      <card-rutin class="cards-routines"></card-rutin>
    </div>
  </div>

  <tabs activeTab="home"></tabs>
</ion-content>
