@import '/src/global.scss';

:root{
  --primary-color-green: #82D68E;
  --secondary-color-green: #04460E;
  --color-black: #1C1C1C;
  --primary-color-yellow: #F2EFE5;
  --secondary-color-yellow: #9A9A9A;
  --terciary-color-yellow: #E9E9E9;
  --primary-color-yellow-rgb: 242,239,229;
  --primary-font: 'DM Sans', sans-serif;
}

ion-picker {
  --background: #FFFFFF;
  --highlight-background: #F0F0F0;
  --highlight-color: #000;
  --border-radius: 6px;
  --fade-background-rgb: #FFFFFF;
}

ion-picker-column {
  --color: $text-color;
  font-weight: 500;
}

ion-picker-column-option {
  color: $text-color;
  font-weight: 500;
  --text-aling: center;
}