:root{
    --primary-color-green: #82D68E;
    --secondary-color-green: #04460E;
    --color-black: #1C1C1C;
    --primary-color-yellow: #F2EFE5;
    --secondary-color-yellow: #9A9A9A;
    --terciary-color-yellow: #E9E9E9;
    --primary-color-yellow-rgb: 242,239,229;
    --primary-font: 'DM Sans', sans-serif;

    --ion-safe-area-bottom: 0px;
}
