<ion-content [fullscreen]="true">
  <div class="rutins-content-conteiner">
    <div class="content-header">
      <ion-icon name="arrow-back-outline" class="icon-back" (click)="backObjectivePerson()"></ion-icon>
      <ion-text class="you-progress-text">Tu progreso empieza acá</ion-text>
    </div>
    <div class="content-routines">
      <ion-text class="max-rutins">Podés elegir hasta 3 rutinas ({{ selectedRoutineCount }}/3).</ion-text>
      <card-rutin [categories]="categories" [maxSelectedReached]="selectedRoutines.length >= 3"
        (cardSelected)="onCardSelected($event)" (exerciseSelected)="onExerciseSelected($event)"
        class="cards-rutins"></card-rutin>
    </div>
    <primary-button *ngIf="selectedRoutines.length >= 1" [propEnum]="ButtonText.next" class="button-next"
      (click)="goToHome()"></primary-button>
  </div>
</ion-content>