.header {
  ion-toolbar {
    --background: #fff;
    --border-width: 0;
  }

  ion-title {
    font-weight: 600;
    font-size: 18px;
  }
}

.edit-content {
  padding: 20px;
  background: #f6f6f6;
}

.edit-card {
  background: white;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}

.field {
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 6px;
  }

  ion-input {
    --padding-start: 12px;
    --padding-end: 12px;
    border-radius: 12px;
    background: #f1f1f1;
    height: 44px;
  }
}

.save-btn {
  margin-top: 16px;
  color: #000000;
  --background: #82D68E;
  --border-radius: 14px;
  height: 48px;
  font-weight: 600;
}
