 

.conteiner-global {
  gap: 28px;
  padding: 44px 24px;

  .about-you-conteiner {
    gap: 32px;

    .about-you-content {
      gap: 56px;

      .content-header {
        justify-content: start;
        align-items: center;
        gap: 56px;

        .icon-back {
          color:  #1C1C1C;
          font-size: 20px;
          cursor: pointer;
        }

        .about-you-personalizate {
          max-width: 175px;

          color:  #1C1C1C;
          font-weight: 600;

          text-align: center;
        }
      }

      .text-conteiner {
        align-items: center;
        gap: 8px;

        .title-about-you {
          color:  #1C1C1C;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
        }

        .subtitle-about-you {
          color:  #1C1C1C;
          text-align: center;
          max-width: 295px;
        }
      }
    }

    .objective-container {
      gap: 8px;

      .max-objective {
        color:  #1C1C1C;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}