<input-text-with-icon
  iconPath="assets/svg/icons-create-acc/gender.svg"
  label="Genero"
  type="text"
  (click)="openModal()"
>
</input-text-with-icon>

<ion-modal #modal (didDismiss)="onDidDismiss($event)" class="modal-container">
  <ng-template>
    <div class="back-toolbar">
      <ion-icon name="close-outline" class="icon-back" (click)="closeModal('cancel')"></ion-icon>
      <ion-text class="text-modal">Género</ion-text>
      <button class="button-next" (click)="closeModal('confirm')">Siguiente</button>
    </div>

    <ion-picker class="picker">
      <ion-picker-column [value]="currentValue" (ionChange)="onIonChange($event)">
        <ion-picker-column-option *ngFor="let opt of options" [value]="opt">
          {{ opt }}
        </ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>