@import "../../../global.scss";

ion-content::part(background) {
  background: #04460E;
}

.style-logo {
  width: 500px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.loader-style {
  width: 32px;
  height: 32px;
}