@import "/src/global.scss";

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* empuja el contenido hacia arriba y el botón hacia abajo */
  height: 100%;
  padding-bottom: 4.5rem; /* espacio para tabs */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid #dcdcdc;
  margin-bottom: 10px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem 0.5rem;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border: 4px solid #dcdcdc;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 6px;
  background-color: #e9e9e9;
}

.profile-name {
  font-size: 1rem;
  font-weight: 132;
  color: #2d2d2d;
  margin: 0.1rem 0 0;
}

.profile-gender {
  color: #777;
  margin-bottom: 0.5rem;
}


.profile-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0.25rem 0 0.75rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-item h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 200;
  color: #2d2d2d;
}

.stat-item span {
  font-size: 0.9rem;
  color: #888;
  font-weight: 400;
}

.stat-item p {
  margin-top: 2px;
  color: #777;
  font-size: 0.9rem;
}

.logout-container {
  margin-top: auto;
  padding: 0 1.5rem 1rem;
}

.logout-button {
  --background: #82D68E;
  --color: rgb(0, 0, 0);
  --border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
  height: 48px;
  text-transform: none;
  box-shadow: 0 2px 6px rgba(130, 214, 142, 0.4);
}

.logout-icon {
  font-size: 29px;
}

.tab-toggle {
  display: flex;
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 16px;
  gap: 8px;
  width: fit-content;
  margin: auto;
}

.chart-card {
  background: #f7f7f7;
  border-radius: 16px;
  border: solid 1px #e1e1e1;
  margin: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  height: 150px;
  position: relative;

  .card-header {
    .calories-text {
      position: relative;
      font-weight: 600;
      font-size: 16px;
      top: -20px;
    }
  }
}

.total-week-text {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  top: -20px;
  color: var(--ion-color-dark);

  .label-text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--ion-color-medium-shade);
  }
}

.routines-section {
  padding: 30px 16px 0 16px;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .section-title {
      font-size: 16px;
      font-weight: 600;
    }

    .see-all {
      font-size: 12px;
      color: $primary-color;
    }
  }
  .routines-list {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}