<ion-content [fullscreen]="true" class="profile-content">
  <div class="profile-container">
    <div class="profile-card">
      <ion-avatar class="profile-avatar" (click)="changeProfilePhoto()">
        <img [src]="profileImage" alt="Foto de perfil" />
      </ion-avatar>
      <h2>{{ dataUser.name }}</h2>
      <h2 class="profile-name"></h2>
      <p class="profile-gender">{{ dataUser.gener }}</p>
      <div class="profile-stats">
        <div class="stat-item">
          <h3>{{ dataUser.weight }}<span> Kg</span></h3>
          <p>Peso</p>
        </div>
        <div class="stat-item">
          <h3>{{ dataUser.height }}<span> cm</span></h3>
          <p>Altura</p>
        </div>
      </div>
    </div>

    <div class="logout-container">
      <ion-button expand="block" class="logout-button" (click)="logoutUser()">
        <ion-icon class="logout-icon" name="log-out-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </div>
  
  <tabs activeTab="profile"></tabs>
</ion-content>