.welcome-content {
  --background: var(--primary-color-yellow);
}

ion-content {
  --padding-bottom: 0;
}

ion-content::part(scroll) {
  padding-bottom: 0;
}

/* Imágenes de fondo */
.mosaic-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 18px 10px 10px;
  width: 100%;
}

.mosaic-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transform: translateY(-90px);
}

.mosaic-col.col-center {
  transform: translateY(-70px);
}

.mosaic-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 160px;
  flex: 0 0 auto;
}

.mosaic-item ion-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Logo */
.item-logo {
  display: flex;
  margin-bottom: -35px;
  align-items: center;
  justify-content: center;
}

/* Contenido principal */
.content-section {
  flex: 1;
  padding: 24px;
  background: linear-gradient(
    to bottom,
    rgba(var(--primary-color-yellow-rgb), 0.3) 35%,
    rgba(var(--primary-color-yellow-rgb), 0.7) 70%,
    rgba(var(--primary-color-yellow-rgb), 1) 100%
  );
  text-align: center;
  margin-top: -140px;
  //padding-top: 140px;
  //border-radius: 20px 20px 0 0;
  position: relative;
  z-index: 10;
}

.welcome-text {
  color: var(--color-black);
  font-family: var(--primary-font);
  transform: translateY(-40px);
}

.welcome-text h1 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--primary-font);
  line-height: 28px;
  //   margin: 0 0 12px 0;
  //   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.welcome-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 32px 0;
  opacity: 0.9;
  font-family: var(--primary-font);
  //   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  line-height: 24px;
}

/* Botones */
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  transform: translateY(-60px);
}

.btn-primary {
  --background: var(--primary-color-green);
  --background-hover: #45a049;
  color: var(--color-black);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.btn-google {
  color: var(--color-black);
  --border-color: var(--primary-color-green);
  --background-hover: rgba(255, 255, 255, 0.1);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.btn-apple {
  color: var(--color-black);
  --border-color: var(--primary-color-green);
  --background-hover: rgba(255, 255, 255, 0.1);
  font-family: var(--primary-font);
  --border-radius: 12px;
  font-weight: 700;
  font-size: 0.9rem;
  height: 50px;
  letter-spacing: 0.5px;
}

.signup-text {
  color: var(--color-black);
  font-family: var(--primary-font);
  font-size: 14px;
  //line-height: 5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  //gap: 0.5rem;
  //margin-top: 16px;
}


.signup-link {
  font-family: var(--primary-font);
  color: var(--primary-color-green);
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  //min-height: unset;
  //text-decoration: underline;
  //margin-left: -8px;
}

ion-button.signup-link::part(native) {
  text-transform: none;
  //letter-spacing: normal; 
}
