<ion-content [fullscreen]="true" class="welcome-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Imagenes de fondo -->
  <div class="page-container">
    <div class="mosaic-columns">
      <div class="mosaic-col col-left">
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-1.jpg"></ion-img>
        </div>
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-4.jpg"></ion-img>
        </div>
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-7.jpg"></ion-img>
        </div>
      </div>

      <div class="mosaic-col col-center">
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-2.jpg"></ion-img>
        </div>
        <div class="mosaic-item item-logo">
          <ion-img src="assets/imgs/ft-5.jpg"></ion-img>
        </div>
        <div class="mosaic-item">
          <ion-img src="assets/imgs/logo.png"></ion-img>
        </div>
      </div>

      <div class="mosaic-col col-right">
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-3.jpg"></ion-img>
        </div>
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-6.jpg"></ion-img>
        </div>
        <div class="mosaic-item">
          <ion-img src="assets/imgs/ft-8.jpg"></ion-img>
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="content-section">
      <div class="welcome-text">
        <h1>Bienvenido a NutriFit</h1>
        <p>La aplicación integral para transformar tu cuerpo y mente.</p>
      </div>

      <div class="buttons-container">
        <ion-button expand="block" size="large" class="btn-primary">
          Iniciar sesión con tu Email
        </ion-button>

        <ion-button
          expand="block"
          size="large"
          fill="outline"
          class="btn-google"
        >
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Iniciar sesión con Google
        </ion-button>

        <!-- <ion-button
          expand="block"
          size="large"
          fill="outline"
          class="btn-apple"
        >
          <ion-icon slot="start" name="logo-apple"></ion-icon>
          Iniciar sesión con Apple
        </ion-button> -->
        <input-text [propEnum]="InputText.email"></input-text>

        <div class="signup-text">
          <p>¿No tenés cuenta?</p>
          <ion-button fill="clear" size="small" class="signup-link">
            Registrate aquí
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
