<input-text-with-icon
  iconPath="assets/svg/icons-create-acc/birthday.svg"
  label="Fecha de Nacimiento"
  type="text"
  (click)="openModal()"
  [ngModel]="value"
  [readonly]="true"
  ></input-text-with-icon>

<ion-modal #modal (didDismiss)="onDidDismiss()" class="modal-container">
  <ng-template>
    <div class="back-toolbar">
      <ion-icon name="close-outline" class="icon-back" (click)="closeModal('cancel')"></ion-icon>
      <ion-text class="text-modal">¿Cuándo naciste?</ion-text>
      <button class="button-next" (click)="closeModal('confirm')">Siguiente</button>
    </div>

    <ion-picker class="picker">
      <ion-picker-column (ionChange)="onDayChange($event)" [value]="selectedDay" > 
        <ion-picker-column-option *ngFor="let d of days" [value]="d">
          {{ d }}
        </ion-picker-column-option>
      </ion-picker-column>

      <ion-picker-column (ionChange)="onMonthChange($event)" [value]="selectedMonth" >
        <ion-picker-column-option *ngFor="let m of months" [value]="m.value">
          {{ m.name }}
        </ion-picker-column-option>
      </ion-picker-column>

      <ion-picker-column (ionChange)="onYearChange($event)" [value]="selectedYear" >
        <ion-picker-column-option *ngFor="let y of years" [value]="y">
          {{ y }}
        </ion-picker-column-option>
      </ion-picker-column>
    </ion-picker>
  </ng-template>
</ion-modal>

