<div class="conteiner-global ion-display-flex ion-flex-column">
  <div class="about-you-conteiner ion-display-flex ion-flex-column">
    <div class="about-you-content ion-display-flex ion-flex-column">
      <div class="content-header ion-display-flex ion-flex-row">
        <ion-text class="about-you-personalizate">Conocerte nos ayuda a personalizar tu plan</ion-text>
      </div>
    
      <div class="text-conteiner ion-display-flex ion-flex-column">
        <ion-text class="title-about-you">Cuéntanos sobre vos</ion-text>
        <ion-text class="subtitle-about-you">Estos datos nos ayudan a personalizar tu plan de manera más precisa.</ion-text>
      </div>
    </div>
  
    <div class="pickers-container ion-display-flex ion-flex-column">
      <picker-date [(ngModel)]="personDate.birthDate"></picker-date>
      <picker-peso [(ngModel)]="personDate.weight"></picker-peso>
      <picker-altura [(ngModel)]="personDate.height"></picker-altura>
      <picker-genero [(ngModel)]="personDate.gender"></picker-genero>
    </div>
  </div>
  <primary-button [propEnum]="ButtonText.next" (click)="goNext()"></primary-button>
</div>