@import "/src/global.scss";

.conteiner-global {
  gap: 140px;
  padding: 44px 24px;

  .about-you-conteiner {
    gap: 32px;

    .about-you-content {
      gap: 56px;

      .content-header {
        justify-content: center;
        align-items: center;

        .about-you-personalizate {
          max-width: 175px;

          color: $text-color;
          font-weight: 600;

          text-align: center;
        }
      }

      .text-conteiner {
        align-items: center;
        gap: 8px;

        .title-about-you {
          color: $text-color;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
        }

        .subtitle-about-you {
          color: $text-color;
          text-align: center;
          max-width: 295px;
        }
      }
    }

    .pickers-container {
      gap: 8px;
    }
  }
}