<ion-card
  *ngFor="let card of displayCards"
  class="card-container"
  [style.background-color]="card.color"
  [class.active]="selectedCard === card.title"
  (click)="onSelect(card)"
>
  <div class="content-card-rutin">
    <ion-text class="text-rutin">{{ card.title }}</ion-text>
    <ion-text class="exercise-text">{{ card.description }}</ion-text>
  </div>

  <!-- Mostrar ejercicios dentro del card -->
  <div
    *ngIf="selectedCard === card.title"
    class="exercises-list"
    (click)="$event.stopPropagation()"
  >
    <h3 class="exercise-counter">
      Ejercicios seleccionados:
      {{ getExerciseCount(card.title) }}/5
    </h3>

    <div class="exercise-grid">
      <div
        *ngFor="let exercise of getExercisesForCard(card.title)"
        class="exercise-card"
        [class.selected]="isExerciseSelected(card.title, exercise)"
        (click)="toggleExerciseSelection(card.title, exercise)"
      >
        <p class="exercise-name">{{ exercise.name }}</p>
        <small class="exercise-difficulty">{{ exercise.difficulty }}</small>
      </div>
    </div>
  </div>
</ion-card>
