@import '/src/global.scss';

/* CARD PRINCIPAL */
ion-card {
  position: relative;
  z-index: 1;
  overflow: visible;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: -4px;

  &.active {
    transform: scale(1.02);
  }
}

/* CONTENIDO DE LA CARD */
.content-card-rutin {
  padding: 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;

  .text-rutin {
    font-size: 24px;
    font-weight: 700;
    color: #000;
  }

  .exercise-text {
    font-size: 14px;
    color: #000;
  }
}

/* LISTA DE EJERCICIOS */
.exercises-list {
  position: relative;
  z-index: 10;
  border-radius: 0 0 12px 12px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* GRID DE EJERCICIOS */
.exercise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

/* CARD DE CADA EJERCICIO */
.exercise-card {
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  color: #000;

  &.selected {
    background-color: #82D68E !important;
  }

  .exercise-name {
    margin: 0;
    font-weight: 500;
    color: #000 !important;
  }

  .exercise-difficulty {
    opacity: 0.6;
    color: #000 !important;
  }
}

/* CONTADOR */
.exercise-counter {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: left;
  color: #000;

  small {
    font-weight: 400;
    color: #000;
  }
}

